
*{
    margin: 0;
    padding: 0;
}
header{
    clear: both;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    font-family: 'Concert One', cursive;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;

}

.logo img{
    height: 100px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-family: 'Gochi Hand', cursive;
    font-weight: 400;
    font-size: 25px;
    font-size: normal;
    padding-right: 30px;
    padding-left: 30px;
    line-height: normal; 
}

nav button{
    font-family: 'Gochi Hand', cursive;
    width: 122px; /* 122*/
    height: 50px; /* 122*/
    border-radius: 20px;
    flex-shrink: 0;
    background-color: #201E59;
    border: none;
    color:white;
    cursor: pointer;
    font-size: 20px;

}

nav button:hover{
    background-color: #322f81;
}
nav button:active{
    background-color: #4340a3;
}
header{
    background-color: #B494FF;
}

body{
    background-color: #BACBD9;
}

section{
    font-family: 'Coming Soon', cursive;
    display: flex;
    flex-direction: row;
}
.perrito img{
    height: 500px;
    margin-right: 40px;  

}


.sobreNosotros{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 450px;
    height: 100px;
    border-radius: 20px;
    background: #B494FF;
    color: #FFFBFB;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 40px;
    margin-left: 250px;
}

section p{
    font-family: 'Coming Soon', cursive;
    margin-top: 150px;
    position: absolute;
    width: 545px;
    height: 340px;
    left: 760px;
    text-align: justify;
    font-size: 20px;
}

.eslogan{
    font-family: 'Coming Soon', cursive;
    display: flex;
    position: absolute;
    margin-left: 780px;
    width: 470px;
    height: 100px;
    border-radius: 20px;
    background: #B494FF;
    color: #FFFBFB;
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-top: 450px;
}
