/* body{
    font-family: sans-serif;
    margin: 0;
} */
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    font-family: 'Concert One', cursive;
    color: white;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;

}

.logo img{
    height: 100px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-family: 'Gochi Hand', cursive;
    font-weight: none;
    padding-right: 30px;
    padding-left: 30px;
}

nav button{
    font-family: 'Gochi Hand', cursive;
    width: 100px; /* 122*/
    height: 40px; /* 122*/
    border-radius: 20px;
    background-color: #201E59;
    border: none;
    color:white;

}

header{
    background-color: #B494FF;
    
}